name: Deploy to Inleed

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via SFTP
        uses: pressidium/lftp-mirror-action@v1
        with:
          host: ${{ secrets.FTP_HOST }}
          user: ${{ secrets.FTP_USER }}
          pass: ${{ secrets.FTP_PASS }}
          port: 22
          localDir: "public"
          remoteDir: "/domains/sommar.digitalasynctransparency.com/public_html"