name: Deploy to QA

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'source/data/**.yaml'

concurrency:
  group: deploy-qa
  cancel-in-progress: true

jobs:
  deploy:
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      environment: qa
    secrets: inherit
